<div class="container">
  <!-- <div *ngIf="todos.length === 0; else showTodo">
    <div class="h3 text-center">No To-Do Found</div>
  </div>
  <ng-template #showTodo>
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th class="col-md-3">Status</th>
          <th class="col-md-3">Task Name</th>
          <th class="col-md-3">Due</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of todos">
          <td>
            <div class="form-check">
              <input
                mdbCheckbox
                class="form-check-input"
                type="checkbox"
                value="e.IS_CHECKED"
                id="flexCheckDefault"
                [checked]="e.IS_CHECKED"
                (change)="taskStatusChange(e.TASK_ID)"
              />
              <label class="form-check-label" for="flexCheckDefault">
                {{ e.TASK_STATUS }}
              </label>
            </div>
          </td>
          <td>{{ e.TASK_NAME }}</td>
          <td>{{ e.TASK_DUE }}</td>
          <td>
            <i-bs
              name="eye-fill"
              class="cursor-pointer"
              (click)="viewTodo(e.TASK_ID)"
            ></i-bs>
          </td>
          <td>
            <i-bs
              name="pen-fill"
              class="cursor-pointer"
              (click)="updateTodo(e.TASK_ID)"
            ></i-bs>
          </td>
          <td>
            <i-bs
              name="trash-fill"
              class="cursor-pointer"
              (click)="deleteTodo(e.TASK_ID)"
            ></i-bs>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template> -->
</div>